<section>
    <h1>Command Line</h1>
    <p>
        The Super Basics
    </p>
</section>
<section>
    <h1>Per Platform</h1>
    <h2>Mac: Terminal</h2>
    <h2>Win: GitBash</h2>
</section>
<section>
    <h1>Listing a directory</h1>
    <h2><code>ls</code></h2>
    <pre><code class="bash">
$ ls

MyForks/   presentations/  'year 1 slides'/
</code></pre>
</section>
<section>
    <h1>Changing a Directory</h1>
    <h2><code>cd</code></h2>
    <pre><code class="bash">
#list directory
$ ls

MyForks/   presentations/  'year 1 slides'/
#change directory into MyForks
$ cd MyForks/
$ ls

project1/ project2/

</code></pre>
</section>
<section>
    <h1>Directory Shortcuts</h1>
    <ul>
        <li class="fragment"><code>.</code> - Current Directory</li>
        <li class="fragment"><coe>..</coe> - Parent Directory</li>
        <li class="fragment"><code>~</code> - User Home</li>
        <li class="fragment"><code>/</code>  - Root</li>
    </ul>
</section>

<!--
    pwd
    mkdir
    touch readme.txt
    -->