<section id="basic-selectors">
    <h1>Basic CSS Selectors</h1>
    <ul>
        <li class="fragment">universal</li>
        <li class="fragment">tag</li>
        <li class="fragment">class</li>
        <li class="fragment">id</li>
        <li class="fragment">descendant</li>
        <li class="fragment">grouped</li>
        <li class="fragment">chaining</li>
    </ul>
</section>
<section>
    <h1>The Universal CSS Selector</h1>
    <h1 class="fragment">
        <pre><code class="css">* { /*css rules*/ }</code></pre>
    </h1>
    <h2 class="fragment">Applies CSS rules to every element on the page</h2>
</section>
<section>
    <h1>Example</h1>
    <h1 class="fragment">
        <pre><code class="css">* { color : red}</code></pre>
    </h1>
    <div class="fragment">
        <p data-height="265" data-theme-id="0" data-slug-hash="eEaXoG" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2"
            data-pen-title="UA-ITR-UniversalSelector" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/eEaXoG/">UA-ITR-UniversalSelector</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
            on <a href="https://codepen.io">CodePen</a>.</p>
        <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>
</section>
<section>
    <h1>The tag selector</h1>
    <h1 class="fragment">
        <pre><code class="css">h1 { /*css rules*/ }</code></pre>
    </h1>
    <p class="fragment">
        Applies rules to all tags that match.
    </p>
</section>
<section>
    <h1>Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="VzORNg" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-Tag Selector" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/VzORNg/">UA-ITR-Tag Selector</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>The Descendant Selector</h1>
    <h1 class="fragment">
        <pre><code class="css">div p {/*css rules*/ }</code></pre>
    </h1>
    <h1 class="fragment">
        <pre><code class="css">.my-container p {/*css rules*/ }</code></pre>
    </h1>
    <h1 class="fragment">
        <pre><code class="css">.my-container p .highlight {
    /*css rules*/ 
}</code></pre>
    </h1>
    <h2 class="fragment">Applies rules to any descendants that match the selector. It can be 1 or 10 levels deep.</h2>
</section>
<section>
    <p data-height="265" data-theme-id="0" data-slug-hash="NvVJZr" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-Descendant Selector" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/NvVJZr/">UA-ITR-Descendant Selector</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Grouping Selectors</h1>
    <h1 class="fragment">
        <pre><code class="css">div, p {/*css rules*/ }</code></pre>
    </h1>
    <h2 class="fragment"> You can leverage grouping selectors to share styles between multiple selectors. This can be done by adding a comma between
        each selector.
    </h2>
</section>
<section>
    <h1>Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="mMYoNN" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-GroupingSelector" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/mMYoNN/">UA-ITR-GroupingSelector</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<!-- Chaining

    https://jsfiddle.net/WorthyD/s6pqmrow/
    -->
<section>
    <h1>Combined Selectors</h1>
    <p>
        You can make your selectors more specific by using multiple selectors joined together
    </p>
    <h2 class="fragment"><code>div.class {}</code></h2>
    <h2 class="fragment"><code>.class1.class2 {}</code></h2>
</section>
<section>
    <h1>Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="gxJyOb" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-CombinedSelectors" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/gxJyOb/">UA-ITR-CombinedSelectors</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
