<section id="box-sizing">
    <h1>Box Sizing</h1>
    <p>
        Box sizing tells the browser what to include in the overall height and width of an element.
    </p>
    <pre><code class="css">.elm{ box-sizing: [value]}</code></pre>
    <ul>
        <li class="fragment"><code>content-box</code> - content is the only thing that is included in the height and width</li>
        <li class="fragment"><code>border-box</code> - content, padding, and border are included. Not margin</li>
    </ul>
</section>
<section>
    <h1>Example with defaults</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="oerMGE" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-BoxSizing" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/oerMGE/">UA-ITR-BoxSizing</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Changing the box sizing</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="gxNjGZ" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-BoxSizing" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/gxNjGZ/">UA-ITR-BoxSizing</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>