<section>
    <h1><code>box-shadow</code></h1>
    <p>The <code>box-shadow</code> property adds a drop shadow to your element. </p>
    <ul>
        <li class="fragment">
            x-coordinate - pixel value
        </li>
        <li class="fragment">
            y-coordinate - pixel value
        </li>
        <li class="fragment">
            blur radius - pixel value
        </li>
        <li class="fragment">
            spread radius - pixel value
        </li>

        <li class="fragment">
            color of the shadow - color
        </li>
    </ul>
</section>
<section>
    <h1>Example</h1>
    <script async src="//jsfiddle.net/WorthyD/0zrr98dy/embed/html,css,result/"></script>
    <a href="https://jsfiddle.net/WorthyD/0zrr98dy/" target="_blank">Link</a>
</section>