<section>
    <h1>Cascading Styles</h1>
    <p>
        Cascading is an important part of CSS. Your browser applies the most specific selectors to your content.
    </p>
</section>
<section>
    <h1>Inheritance</h1>
    <p>
        The span tags inside this paragraph inherit their color from the paragraph
    </p>
    <script async src="//jsfiddle.net/WorthyD/sjm0czzf/embed/html,css,result/"></script>
</section>
<section>
    <h1>Inheritance</h1>
    <p>
        We can overwrite this by writing specific selectors, or by adding a class to the span elements
    </p>
    <script async src="//jsfiddle.net/WorthyD/s9Ls8dpk/embed/html,css,result/"></script>

</section>