<section id="child">
    <h1>The Child Selector</h1>
    <p>
        The child selector targets elements immediately inside of the parent element.
    </p>
    <p class="fragment">
        Think of it as if you control your children, but your grand children totally ignore the rules.
    </p>
    <h2 class="fragment">
        <pre><code class="css">div > a {/* css rules */}</code></pre>
    </h2>
</section>
<section>
    <h1>Child vs Descendant</h1>
    <div class="fragment">
        <pre><code class="xml"><div>
    <a href="">Hyper Link</a>
    <p>
        paragraph <a href="">Inside Paragraph</a>
    </p>
    </div></code></pre>
    </div>
    <h3 class="fragment">
        <pre><code class="css">div a {/* css rules */}</code></pre>
    </h3>
    <h3 class="fragment">Applies to every a</h2>
        <h3 class="fragment">
            <pre><code class="css">div > a {/* css rules */}</code></pre>
        </h3>
        <h3 class="fragment">Applies only to the a immediately after the div</h3>
</section>
<section>
    <p data-height="265" data-theme-id="0" data-slug-hash="rGOQVY" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-ChildSelectors" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/rGOQVY/">UA-ITR-ChildSelectors</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>