<section>
    <h1>Rounded Corners</h1>
    <p>
        Rounded Corners will probably the most commonly used CSS3 property.
    </p>
    <pre><code class="css">
    .round {
        border-radius: 5px 10px 15px 20px; /* top left, top right, bottom right, bottom left */
    }
    .round {
        border-radius: 50%; /*Creates a circle*/
    }
</code>
</pre>
</section>
<section>
    <h1>Rounded Corners for Buttons</h1>
    <script async src="//jsfiddle.net/WorthyD/nc4hxfmu/embed/html,css,result/"></script>
</section>
<section>
    <h1>Rounded Images</h1>
    <script async src="//jsfiddle.net/WorthyD/d6nb8o3z/embed/html,css,result/"></script>
</section>