<section id="opacity">
    <h1>Colors and Opacity</h1>
    <p>
        CSS3 opened up more possibilities for colors and opacity in our CSS
    </p>
</section>
<section>
    <h1>RGBA Colors</h1>
    <p>
        <strong>Red</strong>,
        <strong>Green</strong>,
        <strong>Blue</strong>, and
        <strong>Alpha</strong>
    </p>
    <pre>
<code class="css">
    p{
        background-color:rgba(255, 0, 0, 0.5); /*Red with 50% opacity*/
    }
    a{
        color:rgba(255, 0, 0, 0.5); /*Text will be red with 50% opacity */
    }
</code>
</pre>
    <aside class="notes">
        only changes the background color.

    </aside>
</section>
<section>
    <h1>Element Opacity</h1>
    <p>
        You can change the full element opacity by using the <code>opacity</code> property.
    </p>
    <pre>
<code class="css">
    p{
        /*Red with 50% opacity*/
        background-color:#ff0000;
        opacity:0.5;
    }
</code>
</pre>
</section>
<section>
    <h1>In Action</h1>
  <p data-height="319" data-theme-id="0" data-slug-hash="GvWQjQ" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2" data-pen-title="GvWQjQ" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/GvWQjQ/">GvWQjQ</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>