<section id="rounded">
    <h1>Rounded Corners</h1>
    <p>
        Rounded Corners will probably the most commonly used CSS3 property.
    </p>
    <pre><code class="css">
    .round {
        border-radius: 5px 10px 15px 20px; /* top left, top right, bottom right, bottom left */
    }
    .round {
        border-radius: 50%; /*Creates a circle if length equals height*/
    }
</code>
</pre>
</section>
<section>
    <h1>Rounded Corners for Buttons</h1>
   <p data-height="265" data-theme-id="0" data-slug-hash="BdWYjV" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-Rounded Corners" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/BdWYjV/">UA-ITR-Rounded Corners</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Rounded Images</h1>
  <p data-height="265" data-theme-id="0" data-slug-hash="zdZRBv" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2" data-pen-title="zdZRBv" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/zdZRBv/">zdZRBv</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>