<section id="cursor">
    <h1>CSS Cursor Property</h1>
    <p>
        You can use this CSS property to modify how your mouse cursor appears when moused over an element.
    </p>
    <pre class="fragment"><code class="css">
div {
    cursor:pointer; // changes the arrow to a pointer 
}
    </code></pre>
    <h4 class="fragment">There are over 20 properties you can use.</h4>
    <h4 class="fragment">Yes... you can change it to an image.</h4>
</section>
<section>
    <h1>Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="YxmYGd" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="YxmYGd" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/YxmYGd/">YxmYGd</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>