<section id="display">
    <h1>Display</h1>
    <p>
        The CSS display property is used to change the default rendering style of an element.
    </p>
    <ul>
        <li class="fragment"><strong>inline</strong> - span, em, strong</li>
        <li class="fragment"><strong>block</strong> - div, p, h1-h6</li>
        <li class="fragment"><strong>none</strong> - hides the element</li>
        <li class="fragment"><strong>inline-block</strong> - Renders block, but stays in a single line.</li>
    </ul>
    <p class="fragment">
        You can change any element to display any type.
    </p>
    <aside class="notes">
        Set inline to block, but not block to inline.
    </aside>
</section>
<section>
    <h1>Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="KvzoMr" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="KvzoMr" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/KvzoMr/">KvzoMr</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>