<section id="float">
    <h1>Float</h1>
    <p>
        Float changes the position of an element and provides advanced layout to websites.
    </p>
    <ul>
        <li class="fragment"><strong>left</strong></li>
        <li class="fragment"><strong>right</strong></li>
        <li class="fragment"><strong>none</strong></li>
    </ul>
</section>
<section>
    <h1>Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="LjNdbZ" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="LjNdbZ" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/LjNdbZ/">LjNdbZ</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Clear</h1>
    <p>
        Clear resets floats and allows content to continue down the page.
    </p>
    <ul>
        <li class="fragment"><strong>left</strong></li>
        <li class="fragment"><strong>right</strong></li>
        <li class="fragment"><strong>both</strong></li>
    </ul>
</section>
<section>
    <h1>Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="OjNvWQ" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="OjNvWQ" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/OjNvWQ/">OjNvWQ</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1><a href="https://css-tricks.com/all-about-floats/" target="_blank">All About Floats</a></h1>

</section>