<section id="list-style">
    <h1>List Style</h1>
    <p>
        Changes the default styling of <code>UL</code> and <code>OL</code> lists
    </p>
    <ul>
        <li class="fragment"><code>list-style-type</code> - changes the icon/value used in the list</li>
        <li class="fragment"><code>list-style-position</code> - changes the position of the list. Accepts <strong>inside</strong> and <strong>outside</strong></li>
        <li class="fragment"><code>list-style-img</code> - changes bullets to image. Accepts <strong>none</strong> or a valid URL</li>
        <li class="fragment"> Short hand<code>list-style: type position img</code></li>
    </ul>
</section>
<section>
    <h1>Example</h1>
<p data-height="265" data-theme-id="0" data-slug-hash="ayNXoK" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA - ITR-list styles" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/ayNXoK/">UA - ITR-list styles</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>    <div>
        <a href="https://css-tricks.com/almanac/properties/l/list-style/" target="_blank">CSS List Type Overview</a>
    </div>
</section>