    <section id="margin-padding">
        <h1>Margins</h1>
        <p>
            CSS Margins add spacing <em>around</em> an element.
        </p>
        <ul>
            <li class="fragment"><strong>margin-left</strong></li>
            <li class="fragment"><strong>margin-top</strong></li>
            <li class="fragment"><strong>margin-right</strong></li>
            <li class="fragment"><strong>margin-bottom</strong></li>
        </ul>
    </section>
    <section>
        <h1>Margin Shorthand</h1>
        <div class="two-col">
            <div>
                <pre>
<code class="css">
.fig10 {
    /* Applies 5px to all 4 sides */
    margin: 5px;
}
.fig11 {
    /* Applies 5px to all 4 sides */
    margin: 5px 5px 5px 5px;
}
.fig12{
    /*Applies 10px to top and bottom
      and 30px left and right*/
    margin:10px 30px;
}
</code>
</pre>
            </div>
            <div>
                <div style="background-color:lightcoral; overflow:hidden">

                    <style>
                        .reveal .fig11 {
                            border: 1px solid black;
                            margin: 5px;
                            background-color: #fff;
                        }
                    </style>
                    <div class="fig11">
                        Figure 10 / Figure 11
                    </div>
                </div>
                <div style="background-color:lightcoral; overflow:hidden; margin-top:30px;">

                    <style>
                        .reveal .fig12 {
                            border: 1px solid black;
                            margin: 10px 30px;
                            background-color: #fff;
                        }
                    </style>
                    <div class="fig12">
                        Figure 12
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <h1>Padding</h1>
        <p>
            CSS Padding add spacing <em>inside</em> an element.
        </p>
        <ul>
            <li class="fragment"><strong>padding-left</strong></li>
            <li class="fragment"><strong>padding-top</strong></li>
            <li class="fragment"><strong>padding-right</strong></li>
            <li class="fragment"><strong>padding-bottom</strong></li>
        </ul>
    </section>
    <section>
        <h1>Padding Shorthand</h1>
        <div class="two-col">
            <div>
                <pre>
<code class="css">
.fig13 {
    margin: 5px;
    padding:15px;
}
.fig14 {
   margin:10px 30px;
   padding:30px 10px;
}
</code>
</pre>
            </div>
            <div>
                <div style="background-color:brown; overflow:hidden">

                    <style>
                        .reveal .fig13 {
                            border: 1px solid black;
                            margin: 5px;
                            padding: 15px;
                            background-color: #fff;
                        }
                    </style>
                    <div class="fig13">
                        Figure 13
                    </div>
                </div>
                <div style="background-color:brown; overflow:hidden; margin-top:30px;">

                    <style>
                        .reveal .fig14 {
                            border: 1px solid black;
                            margin: 10px 30px;
                            padding: 30px 10px;
                            background-color: #fff;
                        }
                    </style>
                    <div class="fig14">
                        Figure 14
                    </div>
                </div>
            </div>
        </div>
</section>