<section class="overflow">
    <h1>
        <code>overflow</code>
    </h1>
    <p><code>overflow</code> controls what happens when your content is forced outside of its declared size.</p>
    <p>You've set the height of a div to 150px in <code>height </code> and have several paragraphs inside of it</p>
    <h2>Values</h2>
    <ul>
        <li class="fragment"><code>visible</code> - <strong>default value</strong> content continues outside of its box</li>
        <li class="fragment"><code>hidden</code> - hides content that overflows</li>
        <li class="fragment">
            <code>scroll</code> - Adds scroll bars to content even if it doesn't overflow.
        </li>
        <li class="fragment"><code>auto</code> - Adds scroll bars, but only if the content overflows the box.</li>
    </ul>
    <a href="https://css-tricks.com/almanac/properties/o/overflow/" target="_blank">Overflow's overflowing overview</a>
</section>
<section>
    <h1>Examples</h1>
 <p data-height="265" data-theme-id="0" data-slug-hash="LjyWZv" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-CSS-Overflow" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/LjyWZv/">UA-ITR-CSS-Overflow</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Examples</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="dzWvOx" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-CSS-Overflow" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/dzWvOx/">UA-ITR-CSS-Overflow</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>

<section>
    <h1>Two variations</h1>
    <h1 class="fragment"><code>overflow-x</code></h1>
    <h1 class="fragment"><code>overflow-y</code></h1>
</section>