<section>
    <h1>
        <code>overflow</code>
    </h1>
    <p><code>overflow</code> controls what happens when your content is forced outside of its declared size.</p>
    <p>You've set the height of a div to 150px in <code>height </code> and have several paragraphs inside of it</p>
    <h2>Values</h2>
    <ul>
        <li class="fragment"><code>visible</code> - <strong>default value</strong> content continues outside of its box</li>
        <li class="fragment"><code>hidden</code> - hides content that overflows</li>
        <li class="fragment">
            <code>scroll</code> - Adds scroll bars to content even if it doesn't overflow.
        </li>
        <li class="fragment"><code>auto</code> - Adds scroll bars, but only if the content overflows the box.</li>
    </ul>
    <a href="https://css-tricks.com/almanac/properties/o/overflow/" target="_blank">Overflow's overflowing overview</a>
</section>
<section>
    <h1>Examples</h1>
    <script async src="//jsfiddle.net/WorthyD/7g3coqfL/embed/html,css,result/"></script>

    <a href="https://jsfiddle.net/WorthyD/7g3coqfL/" target="_blank">Link</a>
</section>
<section>
    <h1>Examples</h1>
    <script async src="//jsfiddle.net/WorthyD/y0k8jjhL/embed/html,css,result/"></script>

    <a href="https://jsfiddle.net/WorthyD/y0k8jjhL/" target="_blank">Link</a>
</section>

<section>
    <h1>Two variations</h1>
    <h1 class="fragment"><code>overflow-x</code></h1>
    <h1 class="fragment"><code>overflow-y</code></h1>
</section>