<section>
    <h1>CSS Resets</h1>
    <p>
        Browsers (in the past) have been incredibly inconsistent with the default styling of elements. To bring everything to zero
        and build up from there.
    </p>
</section>
<section>
    <h1>Reset usage</h1>
    <p>
        Resets must be the first thing in your CSS file.  You can either create a separate reset.css file or include these styles at the very beginning of your CSS.
    </p>
</section>
<section>
    <h1>The Eric Meyer's Reset</h1>
    <p>
        Originated in 2007. It is still used today. It's purpose is to bring all default values to zero.
    </p>
</section>
<section>
    <h1>No Reset</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="RZzBwQ" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-CSS-Reset" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/RZzBwQ/">UA-ITR-CSS-Reset</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>With Reset</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="OjewPo" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-CSS-Reset" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/OjewPo/">UA-ITR-CSS-Reset</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Normalize.css</h1>
    <p>
        Normalize is a more modern approach to a CSS reset. It is larger in size, but leaves a lot of the default styling.  
    </p>
    <a href="https://github.com/necolas/normalize.css/">Normalize.css Repository</a>
    <a href="https://github.com/necolas/normalize.css/blob/master/normalize.css">Normalize.css file</a>
</section>
