<section id="attr-selector">
    <h1>The Attribute Selector</h1>
    <p>
        The attribute selector allows you to select elements by their attributes or attribute values.
    </p>
</section>
<section>
    <h1>Example</h1>
    <h2 class="fragment">
        <pre><code class="css">[attr] { /*css*/ }</code></pre>
    </h2>
    <h2 class="fragment">
        <pre><code class="css">[target] { /*css*/ }</code></pre>
    </h2>
    <h2 class="fragment">
        <pre><code class="css">a[target] { /*css*/ }</code></pre>
    </h2>
    <h2 class="fragment">
        <pre><code class="xml"><a href="#" target="_blank">Link</a></code></pre>
    </h2>
    <h2 class="fragment">
        <pre><code class="xml"><a href="#" >Link</a></code></pre>
    </h2>
</section>
<section>
    <h1>Working Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="OjGbOr" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-ATTR-Selector" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/OjGbOr/">UA-ITR-ATTR-Selector</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script> 
</section>
<section>
    <h1>Attribute Value Selector</h1>
    <h2 class="fragment">
        <pre><code class="css">[attr="value"] { /*css*/ }</code></pre>
    </h2>
    <h2 class="fragment">
        <pre><code class="css">[type="text"] { /*css*/ }</code></pre>
    </h2>
    <h2 class="fragment">
        <pre><code class="css">input[type="text"] { /*css*/ }</code></pre>
    </h2>
    <h2 class="fragment">
        <pre><code class="xml"><input type="text" value="My Value" /></code></pre>
    </h2>
    <h2 class="fragment">
        <pre><code class="xml"><input type="text" value="My Value" /></code></pre>
    </h2>

</section>
<section>
    <h1>Working Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="GvLNyX" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="GvLNyX" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/GvLNyX/">GvLNyX</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Additional Attribute Selectors</h1>
</section>
<section>
    <h1>Attribute Starts With</h1>
    <h2 class="fragment">
        <pre><code class="css">[href^="https"] { /*css*/ }</code></pre>
    </h2>
    <h3 class="fragment">
        <pre><code class="xml"><a href="https://google.com">Google</a></code></pre>
    </h3>
</section>
<section>
    <h1>Attribute Ends With</h1>
    <h2 class="fragment">
        <pre><code class="css">[href$=".com"] { /*css*/ }</code></pre>
    </h2>
    <h3 class="fragment">
        <pre><code class="xml"><a href="https://google.com">Google</a></code></pre>
    </h3>
</section>
<section>
    <h1>Attribute Contains</h1>
    <h2 class="fragment">
        <pre><code class="css">[href*="google"] { /*css*/ }</code></pre>
    </h2>
    <h3 class="fragment">
        <pre><code class="xml"><a href="https://google.com">Google</a></code></pre>
    </h3>
</section>