<section id="combined">
    <h1>Combined Selectors</h1>
    <p>
        You can make your selectors more specific by using multiple selectors joined together
    </p>
    <h2 class="fragment"><code>div.class {}</code></h2>
    <h2 class="fragment"><code>.class1.class2 {}</code></h2>
</section>
<section>
    <h1>Example</h1>
 <p data-height="265" data-theme-id="0" data-slug-hash="yobgmo" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-Combined Selectors" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/yobgmo/">UA-ITR-Combined Selectors</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Example</h1>
   <p data-height="265" data-theme-id="0" data-slug-hash="Mvmpwr" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-CombinedSelectors2" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/Mvmpwr/">UA-ITR-CombinedSelectors2</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>