<section>
    <h1>Pseudo Class <code>:hover</code></h1>
    <p>
        The <code>:hover</code> class allows you to apply add custom class when an element is being hovered over.
    </p>
    <h2 class="fragment"><code>a:hover{ }</code></h2>
    <h2 class="fragment"><code>.class:hover{ }</code></h2>
</section>
<section>
    <h1>Example</h1>

    <script async src="//jsfiddle.net/WorthyD/ssg1vzdy/embed/html,css,result/"></script>

    <a href="https://jsfiddle.net/WorthyD/ssg1vzdy/" target="_blank">Link</a>
</section>

<section>
    <h1>Example</h1>
    <script async src="//jsfiddle.net/WorthyD/6x51Lr55/embed/html,css,result/"></script>


    <a href="https://jsfiddle.net/WorthyD/6x51Lr55/" target="_blank">Link</a>
</section>