<section id="selectors-grouping">
    <h1>Grouping Selectors</h1>
    <p>
        You can leverage grouping selectors to share styles between multiple selectors. This can be done by adding a comma between
        each selector.
    </p>
    <pre>
<code class="css">
    h1, h2, .header, #site-header{
        color:#ff0000;
    }
</code>
</pre>
</section>
<section>
    <h1>Grouping Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="BdKMKK" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-Group Selectors" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/BdKMKK/">UA-ITR-Group Selectors</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>