<section>
    <h1>Combined Selectors</h1>
    <p>
        You can make your selectors more specific by using multiple selectors joined together
    </p>
    <h2 class="fragment"><code>div.class {}</code></h2>
    <h2 class="fragment"><code>.class1.class2 {}</code></h2>
</section>
<section>
    <h1>Example</h1>
    <script async src="//jsfiddle.net/WorthyD/s6pqmrow/embed/html,css,result/"></script>
    https://jsfiddle.net/WorthyD/s6pqmrow/
</section>
<section>
    <h1>Example</h1>
    <script async src="//jsfiddle.net/WorthyD/eLuk46f7/embed/html,css,result/"></script>
    <a href="https://jsfiddle.net/WorthyD/eLuk46f7/" target="_blank">Link</a>
</section>