<section class="pseudo">
    <h1>Pseudo Class <code>:hover</code></h1>
    <p>
        The <code>:hover</code> class allows you to apply add custom class when an element is being hovered over.
    </p>
    <h2 class="fragment"><code>a:hover{ }</code></h2>
    <h2 class="fragment"><code>.class:hover{ }</code></h2>
</section>
<section>
    <h1>Example</h1>

  <p data-height="265" data-theme-id="0" data-slug-hash="BdZZyG" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-CSS Psuedo Selector" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/BdZZyG/">UA-ITR-CSS Psuedo Selector</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>

<section>
    <h1>Example</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="eERRNp" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-ITR-CSS Psuedo Selector-Advanced" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/eERRNp/">UA-ITR-CSS Psuedo Selector-Advanced</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>