<section>
    <h1>Descendant Selectors</h1>
    <p>Descendant selectors create a more specific groups of styled content. </p>
    <pre class="fragment">
<code class="css">
    div p{
        color:#ff0000;
    }
</code>
</pre>
    <p class="fragment">Any paragraph inside of a div will have red text.</p>
</section>
<section>
    <h1>Example 1</h1>
    <script async src="//jsfiddle.net/WorthyD/7u8a69zf/embed/html,css,result/"></script>
</section>
<section>
    <h1>Example 2</h1>
    <script async src="//jsfiddle.net/WorthyD/13t4gjrb/embed/html,css,result/"></script>
</section>