<section id="style-forms">

</section>
<section>
    <h1>Styling Buttons</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="YxgwvQ" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="YxgwvQ" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/YxgwvQ/">YxgwvQ</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Styling inputs</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="WEmrLP" data-default-tab="css,result" data-user="WorthyD" data-embed-version="2" data-pen-title="WEmrLP" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/WEmrLP/">WEmrLP</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>