<section>
    <h1><code>white-space</code></h1>
    <p>
        <code>white-space</code> controls how text operates in a an element with a defined width.
    </p>
    <h2>Values</h2>
    <ul>
        <li class="fragment"><code>normal</code> - Default value</li>
        <li class="fragment"><code>nowrap</code> - prevents text from wrapping</li>
    </ul>

    <a href="https://css-tricks.com/almanac/properties/w/whitespace/" target="_blank">White Space Overview</a>
</section>
<!--Usage-->
<!--<section>
                    <h1></h1>
                </section>-->
<section>
    <h1>Example</h1>
    <script async src="//jsfiddle.net/WorthyD/hgnvdp1g/embed/html,css,result/"></script>
    <a href="https://jsfiddle.net/WorthyD/hgnvdp1g/" target="_blank">Link</a>
</section>
<section>
    <h1><code>text-overflow</code></h1>
    <p>
        <code>text-overflow</code> is used with <code>white-space</code> and <code>overflow</code> to add cut offs to text
    </p>
    <h2>Values</h2>
    <ul>
        <li class="fragment">clip</li>
        <li class="fragment">ellipsis</li>

    </ul>
    <a href="https://css-tricks.com/almanac/properties/t/text-overflow/" target="_blank">Text Overflow Overview</a>
</section>
<section>
    <h1>Example</h1>
    <script async src="//jsfiddle.net/WorthyD/kqon94ts/embed/html,css,result/"></script>
    <a href="https://jsfiddle.net/WorthyD/kqon94ts/" target="_blank">Link</a>
</section>
<section>
    <h1><code>text-shadow</code></h1>
    <p>The <code>text-shadow</code> is made up of 4 values </p>
    <ul>
        <li class="fragment">
            x-coordinate - pixel value
        </li>
        <li class="fragment">
            y-coordinate - pixel value
        </li>
        <li class="fragment">
            blur radius - pixel value
        </li>
        <li class="fragment">
            color of the shadow - color
        </li>
    </ul>
    <p class="fragment">You can add multiple shadows by separating them with a comma. </p>
    <div>
        <a href="http://codepen.io/chriscoyier/pen/urkCd" target="_blank" class="fragment">Awesome Examples</a>
    </div>
    <a href="https://css-tricks.com/almanac/properties/t/text-shadow/" target="_blank">Overview</a>
</section>
<section>
    <h1>Examples</h1>
    <script async src="//jsfiddle.net/WorthyD/wrutgs69/embed/html,css,result/"></script>
    <a href="https://jsfiddle.net/WorthyD/wrutgs69/" target="_blank">Link</a>
</section>