<html>

<head>
    <title>Basics</title>

    <!-- @@include('../header.html') -->
</head>
<body>
    <div class="reveal">
        <div class="slides">
            <section>
                monitors
            </section>
            <section>
                chair and desk
            </section>
            <section>
                mice and keyboard
            </section>
            <section>
                head set
            </section>
            <section>
                mic and cam
            </section>



        </div>

    </div>


    <!-- @@include('../footer.html' ) -->
</body>
</html>
