<section>
    <h1>Monitors</h1>
    <div class="two-col">
        <div class="fragment">
            <h2>High End</h2>
            <h3>BenQ 32" 4K</h3>
            <h4>$800</h4>
            <a href="https://www.amazon.com/BenQ-PD3200U-Designer-3840x2160-DualView/dp/B01MY142C0/" target="_blank">Amazon</a>
        </div>
        <div class="fragment">
            <h2>Budget</h2>
            <h3>Asus 21.5 1080</h3>
            <h4>$100 x 3 = $300</h4>
            <a href="https://www.amazon.com/dp/B005BZNDOO/" target="_blank">Amazon</a>
        </div>
    </div>
</section>
<section>
    <h2>Desks</h2>
    <div class="two-col">
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="" target="_blank">Amazon</a>
        </div>
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="" target="_blank">Amazon</a>
        </div>
    </div>
</section>
<section>
    <h2>Chairs</h2>
    <div class="two-col">
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/dp/B007OZX9DO/" target="_blank">Amazon</a>
            <a href="https://www.amazon.com/SunnieDog-Office-3-Inch-Rollerblade-Replacement/dp/B01CGZPOK2/" target="_blank">Amazon</a>
        </div>
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="http://store.hermanmiller.com/office/office-chairs/aeron-chair/2195348.html" target="_blank">Herman Miller</a>
        </div>
    </div>

</section>
<section>
    <h2>Chairs pt 2 </h2>
    <div class="fragment">
        <h3></h3>
        <h4></h4>
        <h5></h5>
        <a href="https://www.humanscale.com/products/product.cfm?group=FreedomTaskChairWithHeadrest" target="_blank">Amazon</a>
    </div>

</section>
<section>
    <h2>Standing desk </h2>
    <div class="two-col">
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/VIVO-Adjustable-Converter-Workstation-DESK-V000B/dp/B01MDKROXW/" target="_blank">Amazon</a>
        </div>
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/VARIDESK-Height-Adjustable-Standing-Desk-Black/dp/B00JI6NCCK" target="_blank">Amazon</a>
        </div>
    </div>
</section>
<section>
    <div class="fragment">
        <h3></h3>
        <h4></h4>
        <h5></h5>
        <a href="https://www.humanscale.com/products/product.cfm?group=quickstand" target="_blank">Amazon</a>
    </div>

</section>
<section>
    <h2>Keyboard</h2>
    
    
    <div class="two-col">
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/dp/B01LXD7STC/" target="_blank">Amazon</a>
        </div>
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/dp/B071VHYZ62/" target="_blank">Amazon</a>
        </div>
    </div>

</section>
<section>
    <h2>Mice</h2>
    
    
    <div class="two-col">
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/dp/B016MXPQMA/" target="_blank">Amazon</a>
        </div>
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/dp/B0714D71SB/" target="_blank">Amazon</a>
        </div>
    </div>

</section>
<section>
    <h2>Head Set</h2>
        
    <div class="two-col">
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/Logitech-981-000541-Stereo-Gaming-Headset/dp/B00BFOEY4I/" target="_blank">Amazon</a>
        </div>
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/SteelSeries-Lag-Free-Wireless-Headset-Headphone/dp/B01LYNEIEI/" target="_blank">Amazon</a>
        </div>
    </div>
</section>
<section>
    <h2>Webcam</h2>
    
    
    <div class="two-col">
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/Logitech-Widescreen-Calling-Recording-Desktop/dp/B07661NX9M/" target="_blank">Amazon</a>
        </div>
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/Logitech-Laptop-Webcam-Design-360-Degree/dp/B004YW7WCY/" target="_blank">Amazon</a>
        </div>
    </div>

</section>
<section>
    <h2>Microphone</h2>
    <div class="two-col">
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/Blue-Yeti-USB-Microphone-Blackout/dp/B00N1YPXW2/" target="_blank">Amazon</a>
        </div>
        <div class="fragment">
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <a href="https://www.amazon.com/Blue-Snowball-iCE-Condenser-Microphone/dp/B014PYGTUQ/" target="_blank">Amazon</a>
        </div>
    </div>
    
    
</section>