<section>
    <h1>GitHub Gists</h1>
    <p>
        Gists are small shared code snippets or individual files that don't need a full blown repository.
    </p>
</section>
<section>
    <h3>Gists are treated just like a repository.</h3>
    <h3>You can update and modify existing ones.</h3>
</section>
<section>
    <h1>Cacher</h1>
    <h2>https://www.cacher.io/</h2>
    <p>
        Managing code snippets can be hard through the Github website. Cacher provides a clean and easy way to manage and share code
        snippets.
    </p>

</section>