<section>
    <h1>Hosting DNS and all that fun stuff</h1>
</section>
<section>
    <h1>DNS</h1>
    <h2>Domain Name System</h2>
    <p>
        This is where your website address gets stored. You have to have your URL registered before you can have a public site.
    </p>
</section>
<section>
    <h1>DNS Suggestions</h1>
    <ul>
        <li class="fragment">Never buy for client</li>
        <li class="fragment">Buy Privacy</li>
        <li class="fragment">Auto Renew</li>
    </ul>
</section>

<section>
    <h1>Traditional Hosting</h1>
    <ul>
        <li class="fragment">
            <a href="www.godaddy.com" target="_blank">GoDaddy</a>
        </li>
        <li class="fragment">
            <a href="http://www.hostgator.com" target="_blank">HostGator</a>
        </li>
        <li class="fragment">
            <a href="https://www.bluehost.com/" target="_blank"></a> BlueHost</li>
    </ul>
</section>
<section>
    <h2>Advantages</h2>
    <ul>
        <li class="fragment">Fixed Cost</li>
        <li class="fragment">Support</li>
        <li class="fragment">Control Panels</li>
        <li class="fragment">Turn Key Installs</li>
    </ul>
    <h2>Disadvantages</h2>
    <ul>
        <li class="fragment">Not Flexible Performance</li>
        <li class="fragment">"Shared" environments</li>
    </ul>
</section>

<section>
    <h1>Cloud Options</h1>
    <ul>
        <li class="fragment">
            <a href="https://cloud.google.com/solutions/websites/" target="_blank"></a>
        </li>
        <li class="fragment">
            <a href="https://www.digitalocean.com/" target="_blank">Digital</a>
        </li>
        <li class="fragment">
            <a href="https://aws.amazon.com" target="_blank">Amazon AWS</a>
        </li>
        <li class="fragment">
            <a href="https://azure.microsoft.com/en-us/" target="_blank">Azure</a>
        </li>
    </ul>
</section>
<section>
    <h2>Advantages</h2>
    <ul>
        <li class="fragment">Flexible Cost</li>
        <li class="fragment">Flexible Performance</li>
        <li class="fragment">Highly customizable</li>
    </ul>
    <h2>Disadvantages</h2>
    <ul>
        <li class="fragment">Steep Learning Curve</li>
    </ul>
</section>
<section>
    <h1>General Suggestion</h1>
    <ul>
        <li class="fragment">Don't host for people</li>
        <li class="fragment">Regularly check in</li>
        <li class="fragment">Keep it secure</li>
    </ul>
</section>