<section>
    <h1>Shopify</h1>
    <p>
        Shopify is primarily an ecommerce web solution.
    </p>
</section>
<section>
    <h1>Designer Overview</h1>
    <p>
        Very similar to SquareSpace.
    </p>
    <ul>
        <li class="fragment">GUI for aesthetics</li>
        <li class="fragment">GUI for inventory manager</li>
        <li class="fragment">GUI for everything...</li>
    </ul>
</section>
<section>
    <h1>Rough Pricing</h1>
    <h3 class="fragment">$30 - Basic</h3>
    <h3 class="fragment">$80 - Standard</h3>
    <h3 class="fragment">$300 - Advanced</h3>
    <aside class="notes">
        <pre>
            Basic - 
            Shopify - Gift Cards, Reports
            Advanced - Lowest CC Rates, advanced reports
        </pre>
    </aside>
</section>
<section>
    <h1>Personal Recommendations for Clients</h1>
    <ul>
        <li class="fragment">DIYers</li>
        <li class="fragment">Small Businesses</li>
        <li class="fragment">People with products.</li>
    </ul>
</section>
<section>
    <h1>Overall</h1>
    <div class="two-col">
        <div>
            <h3>Advantages</h3>
            <ul>
                <li class="fragment">Affordable Ecommerce</li>
                <li class="fragment">Very extendable</li>
                <li class="fragment">Plugin Market - Make $$$$</li>
            </ul>
        </div>
        <div>
            <h3>Disadvantages</h3>
            <ul>
                <li class="fragment">Learning Curve</li>
                <li class="fragment">Cost can add up</li>
            </ul>
        </div>
    </div>
</section>