<section>
        <h1>Shopify</h1>
        <p>
            Square
        </p>
    </section>
    <section>
        <h1>Designer Overview</h1>
        <ul>
            <li class="fragment"></li>
            <li class="fragment"></li>
            <li class="fragment"></li>
            <li class="fragment"></li>
        </ul>
    </section>
    <section>
        <h1>Rough Pricing</h1>
        <h3 class="fragment"></h3>
        <h3 class="fragment"></h3>
    </section>
    <section>
        <h1>Personal Recommendations for Clients</h1>
        <ul>
            <li class="fragment"></li>
            <li class="fragment"></li>
            <li class="fragment"></li>
            <li class="fragment"></li>
        </ul>
    </section>
    <section>
        <h1>Overall</h1>
        <div class="two-col">
            <div>
                <h3>Advantages</h3>
                <ul>
                    <li class="fragment"></li>
                    <li class="fragment"></li>
                    <li class="fragment"></li>
                    <li class="fragment"></li>
                </ul>
            </div>
            <div>
                <h3>Disadvantages</h3>
                <ul>
                    <li class="fragment"></li>
                    <li class="fragment"></li>
                    <li class="fragment"></li>
               </ul>
            </div>
        </div>
    </section>