<section>
    <h1>SquareSpace</h1>
    <p>
        SquareSpace is a site development platform designed to make generating websites very easy.
    </p>
</section>
<section>
    <h1>Designer Overview</h1>
    <ul>
        <li class="fragment">Tons of site templates</li>
        <li class="fragment">Guided Page Creation</li>
        <li class="fragment">Many templates for layout</li>
        <li class="fragment">Toolbars for colour selection</li>
    </ul>
</section>
<section>
    <h1>Rough Pricing</h1>
    <h3 class="fragment">Personal - $12 month</h3>
    <h3 class="fragment">Personal - $18 month</h3>
</section>
<section>
    <h1>Personal Recommendations for Clients</h1>
    <ul>
        <li class="fragment">Charities</li>
        <li class="fragment">Restaurants</li>
        <li class="fragment">Artists</li>
        <li class="fragment">Personal Sites</li>
    </ul>
</section>
<section>
    <h1>Overall</h1>
    <div class="two-col">
        <div>
            <h3>Advantages</h3>
            <ul>
                <li class="fragment">Quick Setup</li>
                <li class="fragment">Easy Handoff</li>
                <li class="fragment">Responsive</li>
                <li class="fragment">24/7 Support</li>
            </ul>
        </div>
        <div>
            <h3>Disadvantages</h3>
            <ul>
                <li class="fragment">Full customization - Paid</li>
                <li class="fragment">Can be a little cookie cutter</li>
                <li class="fragment">Holds your hand too much</li>
           </ul>
        </div>
    </div>
</section>