<section>
    <h1>Wireframing</h1>
    <p>
        Wireframing is the process of visually laying out a website in preparation for design or development.
    </p>
</section>
<section>
    <h1>Benefits</h1>
    <ul>
        <li class="fragment">Plan your layout before you build</li>
        <li class="fragment">Can build a clickable experience</li>
    </ul>
</section>
<section>
    <h1>Basic Examples</h1>
    <img src="../images/wire/1.png" alt="">
</section>
<section>
    <h1>Clickable Example</h1>
    <h2><a href="https://wireframepro.mockflow.com/view/whatsapp" target="_blank">WhatsApp</a></h2>
</section>
<section>
    <h1>Tools</h1>
    <ul>
        <li><a href="https://balsamiq.com/" target="_blank">Balsamiq</a></li>
        <li><a href="https://wireframe.cc/" target="_blank">WireFrame.cc</a></li>
        <li><a href="https://mockflow.com/" target="_blank">MockFlow</a></li>
    </ul>
</section>
    