<section id="const">
    <h1>New Variable Declarations</h1>
    <h1 class="fragment"><code>let</code> and <code>const</code></h1>
</section>
<section>
    <h1><code>let</code></h1>
    <p>
        <code>let</code> defines a block level variable. It can help prevent confusion in going through source code.
    </p>
</section>
<section>
    <h1>Prevents errors</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="LWJXRN" data-default-tab="js" data-user="WorthyD" data-embed-version="2" data-pen-title="ES6 - Let" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/LWJXRN/">ES6 - Let</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1>Scoping</h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="QpVJKV" data-default-tab="js" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-Let-Scoping" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/QpVJKV/">UA-Let-Scoping</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h1><code>const</code></h1>
    <p>
        <code>const</code> is used to generate variables that do not change.
    </p>
</section>
<section>
    <h1>Using <code>const</code></h1>
    <p data-height="265" data-theme-id="0" data-slug-hash="peOQeG" data-default-tab="js" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-const" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/peOQeG/">UA-const</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>