<html>

<head>
    <title>Basics</title>

    <!-- @@include('../header.html') -->
</head>
<body>
    <div class="reveal">
        <div class="slides">

            <section>
                <section>
                    <h1>Psuedo Class <code>:active</code></h1>
                    <p>Applies a CSS when an element is clicked on.</p>
                </section>
                <section>
                    <h1>Example</h1>
                </section>
            </section>
            <!--
                more sudo classes
                fonts
                positioning
                flexbox



            -->


        </div>

    </div>


    <!-- @@include('../footer.html' ) -->
</body>
</html>
