<section id="source">
    <h1>What is version control?</h1>
    <!--Allows you to track collaborate and track and revert changes-->
</section>
<section>
    <h1>Collaboration</h1>
    <p>
        Allows you and your team to work together on the same project.
    </p>
    <p>
        The project doesn't have to be a program. You can use a version control system to write a book with other people.
    </p>
</section>
<section>
    <h1>Change Tracking</h1>
    <p>
        Version control create a history of all the changes you want to be saved.
    </p>
    <p>
        It allows you to revert or go back in time if you happen and undo any mistakes that may have been made.
    </p>
</section>
<section>
    <h1>Types of Version Control Systems</h1>
    <h2 class="fragment">Centralized</h2>
    <p class="fragment">
        Centralized version control has one main server that saves the content.
    </p>
    <ul>
        <li class="fragment"> <span class="highlight">Advantages:</span> Easy to learn & tracks history well.</li>
        <li class="fragment"> <span class="highlight">Disadvantages:</span> Slow &amp; doesn't work well with larger teams.</li>
    </ul>
</section>
<section>
    <h1>Distributed Version Control</h1>
    <p class="framgent">
        Each user has a fully copy of the history of the project locally and they selectively push updates to the main repository
        location
    </p>
    <ul>
        <li class="fragment"><span class="highlight">Advantages:</span> Fast and popular</li>
        <li class="fragment"><span class="highlight">Disadvantages:</span> Challenging to learn</li>
    </ul>
</section>
<section>
    <h1>Terms</h1>
</section>
<section>
    <h1>Git Repository</h1>
    <p>
        A location of files and information about all the previous versions of those files.
    </p>
</section>
<section>
    <h1>Clone</h1>
    <p>
        <em>git clone</em> copies an existing repository to a local folder.
    </p>
    <pre><code class="bash">
git clone https://github.com/jquery/jquery.git

</code></pre>
</section>
<section>
    <h1>Pull</h1>
    <p>
        <em>git pull</em> pulls down any changes from the source repository into your local repository.
    </p>

    <pre><code class="bash">
cd jquery
git pull

</code></pre>
</section>
<section>
    <h1>Add</h1>
    <p>
        You use the <em>git add</em> to tell git to track specific files.
    </p>
    <pre><code class="bash">
#Add a specific file
git add Readme.md

#Add a whole everything
git add .

</code></pre>
</section>
<section>
    <h1>Stage</h1>
    <p>
        Staging changes informs git about what is about to be changed
    </p>
</section>
<section>
    <h1>Commit</h1>
    <p>
        <em>git commit</em> takes all of the staged changes and creates a historical bookmark of what changes were made,
        who made them, and a message that is a brief description of the changes.
    </p>
    <pre><code class="bash">
git commit -m "Adding a new page"

#Auto stage modified files
git commit -a -m "Adding another new page"

</code></pre>
</section>
<section>
    <h1>Push</h1>
    <p>
        <em>git push</em> sends the most recent commits to the remote source repository. You must have the latest version
        of the remote repository for a push to be accepted.
    </p>
    <pre>
    <code  class="bash">
#first time push only
git push -u origin master

git push
    </code>
        </pre>
</section>
<section>
    <h1>Merge</h1>
    <p>
        A merge occurs whenever there are new commits in the source repository and you have commits that have not yet been pushed
        to the source repository.
    </p>
    <p>
        Merges happen behind the scenes and are frequently not noticed unless changes conflict with each other.
    </p>
</section>
<section>
    <h1>Merge Conflict</h1>
    <p>
        Merge conflicts occur when changes are made to the same file and git cannot determine which changes should be used.
    </p>
    <aside class="notes">
        Demo merge conflict
    </aside>
</section>
<section>
    <h1>Fork</h1>
    <p>
        A fork of a repository is a user's personal copy of another user's repository. The user can make changes as they want and
        continue to pull updates from the source repository.
    </p>
</section>
<section>
    <h1>Pull Request</h1>
    <p>
        A request to take the changes from your repository to be merged into the source repository.
    </p>
    <p>
        This is how you would contribute to open source software on GitHub
    </p>
    <aside class="notes">Demo this</aside>
</section>
<section>
    <h1>GUI Options</h1>
    <h2><a href="https://www.sourcetreeapp.com/" target="_blank">SourceTree</a> - Mac and Windows</h2>
    <h2><a href="https://tortoisegit.org/" target="_blank">Tortoise Git</a> - Windows Only</h2>
</section>