<section id="exercise7">
    <h3><a href="https://codepen.io/WorthyD/pen/ZJKeVV" target="_blank">Fork This Pen</a></h3>
    <p>
        Exercise 7 is going to open up the opportunity to develop your own CSS style.  
        Do your best to create the image on the next page.  Add classes to the HTML as you see fit.
    </p>
    <div class="two-col">
        <div>
            <h4>Colors</h4>
            <ul>
                <li>Red = <code>#aa0000</code></li>
                <li>Green = <code>#55aa00</code></li>
                <li>Turquoise - <code>#00aaaa</code></li>
                <li>Drop and Text Shadows - <code>#000000</code></li>
            </ul>
        </div>
        <div>
            <h4>Rough Dimensions</h4>
            <ul>
                <li>Body - 960px wide</li>
                <li>Header - 128px tall</li>
                <li>Side Bar - 25%</li>
                <li>Content Body - 75%</li>
                <li>Footer - 100%</li>
            </ul>
        </div>
    </div>
    <h5>All hyperlinks should be underlined when you hover over them.</h5>
</section>
<section>
    <a href="../../images/exercises/exercise7.png" target="_blank">
    <img src="../../images/exercises/exercise7.png"/>
    </a>
</section>
<section>
    <h1>Also</h1>
    <h2>The JS panel has some commented out questions.   Answer them using your dev tools.</h2>

</section>