<section id="exercise9">

    <h1>Create a Pen</h1>
    <p>
        Using what we've learned, recreate the website located <a href="https://worthyd.github.io/dummy-sites/gallery-simple/index.html">here</a>
    </p>
    <p>

        Use Chrome's developer tools to get the information you need to recreate. Try to minimize your work by reusing classes and
        properties.
    </p>
    <h4>Challenge</h4>
    <ul>
        <li>Import a font of your choice from Google's Font library</li>
        <li>Add CSS Media query to display the content like the picture found here <a href="../images/exercises/exercise9-mobile.png">here</a>.
            Make the break point around 600 pixels. </li>
    </ul>
</section>
<section>
    <h2>Do the following in the JS panel.</h2>
    <ul>
        <li>Create 3 variables and populate them
            <ul>
                <li>Your Name</li>
                <li>A number between 1 and 100.</li>
                <li>A boolean value</li>
            </ul>
        </li>
        <li>Output the 3 variables to the console.</li>
    </ul>
</section>
<section>
    <h1>Challenge</h1>
    <ul>
        <li>Create two integer variables, add them together and output the sum to the console. </li>
        <li> Create three string variables. Join them together in code and output them to the console. </li>
        <li>Create a Date variable and output the date to the console in the following format "Thursday August 17 2017"</li>

    </ul>

    <!-- 



### Bonus Challenge
- Add a new file called extra.js
- Create two integer variables, add them together and output the sum to the console.
- Create three string variables. Join them together in code and output them to the html page.
- Create a Date variable and output the date to the screen in the following format "Tue Nov 01 2016"
- Retreive the document's title and output it to the console
-->
</section>