<section>
    <h1>TypeScript - Types</h1>
    <p>
        You use types to declare what type of variable you are declaring.  The TypeScript compiler will notify you if you missuse a type.
    </p>
</section>
<section>
    <h1>Boolean Type</h1>
    <pre><code class="ts">
let isValid: boolean = false;
    
function test(apply: boolean){
    if (apply === true){
    }
}

test(isValid);
test('true'); // Error.
        </code></pre>
</section>
<section>
    <h1>Number</h1>
    //do return tiypes too
    https://www.typescriptlang.org/docs/handbook/basic-types.html
</section>
<section>
    <h1>String</h1>
</section>
<section>
    <h1>Array</h1>
</section>

<section>
    <h1>Any</h1>
</section>

