<section id="jsstyles">
    <h1>JavaScript Styles</h1>
    <p>
        You can access styles and change an element's styles inside of css.
    </p>
    <h4><span class="fragment">object</span>
        <span class="fragment">.style</span>
        <span class="fragment">.[CSS Property]</span>
    </h4>
</section>
<section>
    <h1>Example</h1>
    <pre><code class="js">
    var elm = document.getElementById('id');
    elm.style.color = '#000000';
    elm.style.padding = '20px';

                         </code></pre>
    <h3><a href="http://www.w3schools.com/jsref/dom_obj_style.asp">Full Reference</a></h3>
</section>
<section>
    <h1>Remember Hyphens Aren't Valid in JavaScript</h1>
    <pre class="fragment"><code class="css">
    #div{
        background-color:#fff;
        margin-bottom: 20px;
    }
                            </code></pre>
    <pre class="fragment"><code class="js">
    var elm = document.getElementById('div');
    elm.style.backgroundColor = '#fff';
    elm.style.marginBottom = '#fff';
                            </code></pre>
</section>
<section>
    <p data-height="265" data-theme-id="0" data-slug-hash="qXJLRp" data-default-tab="result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-JS-Styles" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/qXJLRp/">UA-ITR-JS-Styles</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section id="classList">
    <h1>JavaScript <code>classList</code></h1>
    <p>
        The class list property is used to add and remove classes from HTML elements. It acts like an array, but the methods are
        easier to understand
    </p>
    <h2><code>classList</code> Methods</h2>
    <ul>
        <li class="fragment"><code>.add('class1', 'class2', ..)</code> - Adds one or more classes to the class list</li>
        <li class="fragment"><code>.contains('class')</code> - returns <code>true</code> or <code>false</code> if the element contains the class.
        </li>
    </ul>
</section>
<section>
    <h2><code>classList</code> Methods Continued</h2>
    <ul>
        <li class="fragment"><code>.item(index)</code> - Returns the index of the class if it is inside the element list</li>
        <li class="fragment"><code>.remove('c1', 'c2', ....)</code> - removes one or more classes from an element</li>
        <li class="fragment"><code>.toggle('c1')</code> - Adds or removes class based on if it exists or not</li>

    </ul>
</section>
<section>
    <h1>Examples</h1>
    <pre><code class="js">
    var elm = document.getElementById('id');

    elm.classList.add('new-class'); //Adds the new class

    console.log(elm.classList.contains('new-class')); //Outputs true

    elm.classList.remove('new-class'); //Adds the new class

    console.log(elm.classList.contains('new-class')); //Outputs false
</code></pre>
</section>
<section>
    <p data-height="265" data-theme-id="0" data-slug-hash="ZJqVep" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-JS-AddRemoveClasses" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/ZJqVep/">UA-ITR-JS-AddRemoveClasses</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>

<section>
    <h1>Event Listeners</h1>
    <p>
        Event listeners allow us execute JavaScript when the user interactions with the document.
    </p>
    <ul>
        <li class="fragment">addEventListener</li>
        <li class="fragment">removeEventListener</li>
    </ul>
</section>
<section id="eventListeners">
    <h1>addEventListener</h1>
    <h2>Syntax</h2>
    <h3>
        <span class="fragment">element</span>
        <span class="fragment">.addEventListener</span>
        <span class="fragment">('click', </span>
        <span class="fragment">function)</span>
    </h3>
</section>
<section>
    <p data-height="265" data-theme-id="0" data-slug-hash="KvGbmd" data-default-tab="result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="KvGbmd" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/KvGbmd/">KvGbmd</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>