<section>
    <h1>Sub and Sup</h1>
    <p>
        The subscript and superscript tags are used to move blocks of text half a character up or down a line
    </p>
    <ul>
        <li class="fragment">Base Tag <strong>&lt;sub&gt;&lt;/sub&gt;</strong> &amp; <strong>&lt;sup&gt;&lt;/sup&gt;</strong></li>
        <li class="fragment">Display type <strong>inline</strong></li>
    </ul>
    <div class="two-col fragment">
        <div>
            <pre><code class="xml">
    &lt;p&gt;
        This text contains a &lt;sub&gt;subscript&lt;/sub&gt;.
        This text contains a &lt;sup&gt;superscript&lt;/sup&gt;
    &lt;/p&gt;
                                </code>   </pre>
        </div>
        <div class="align-left">
            <p>
                This text contains a <sub>subscript</sub>. This text contains a <sup>superscript</sup>
            </p>
        </div>

    </div>
</section>
<section>
    <h1>Additional Tags</h1>
    <ul>
        <li class="fragment"><strong>br</strong></li>
        <li class="fragment"><strong>blockquote</strong></li>
        <li class="fragment"><strong>code</strong></li>
        <li class="fragment"><strong>pre</strong></li>
        <li class="fragment"><strong>del</strong> &amp; <strong>ins</strong></li>
        <li class="fragment"><strong>iframe</strong></li>
    </ul>
</section>
<section>
    <h1>There are a ton more</h1>
    <p>
        We will cover more in future classes, but you can find them <a href="http://www.w3schools.com/tags/default.asp" target="_blank">here.</a>
    </p>
</section>