<section>
    <h1>The <strong>Class</strong> attribute</h1>
    <p>
        The <strong>Class</strong> attribute is used to reference a class in a Style Sheet. You can also target an element
        by in JavaScript by its class.
    </p>
    <div class="two-col">
        <div class="fragment">
            <ul>
                <li><strong>Rules</strong></li>
                <li>Must start with a letter</li>
                <li>Can be followed by other letters, numbers, hyphens and underscores</li>
                <li>Elements can contain multiple classes</li>
            </ul>

        </div>
        <div class="fragment">
            <pre>
<code class="xml">
                            <div class="row">
                            <div class="column title">Title 1</div>
                            <div class="column description">Desc 1</div>
    </div>
                            <div class="row">
                            <div class="column title">Title 2</div>
                            <div class="column description">Desc 2</div>
    </div>
</code>
</pre>
        </div>

    </div>

</section>