<section>
    <h1>The <strong>Class</strong> attribute</h1>
    <p>
        The <strong>Class</strong> attribute is used to reference a class in a Style Sheet. You can also target an element
        by in JavaScript by its class.
    </p>
    <div class="two-col">
        <div class="fragment">
            <ul>
                <li><strong>Rules</strong></li>
                <li>Must start with a letter</li>
                <li>Can be followed by other letters, numbers, hyphens and underscores</li>
                <li>Elements can contain multiple classes</li>
            </ul>

        </div>
        <div class="fragment">
            <pre>
<code class="xml">
<div class="row">
    <div class="column title">Title 1</div>
    <div class="column description">Desc 1</div>
</div>
<div class="row">
    <div class="column title">Title 2</div>
    <div class="column description">Desc 2</div>
</div>
</code>
</pre>
        </div>

    </div>

</section>
<section>
    <h1>The <strong>ID</strong> attribute</h1>
    <p>
        Use the <strong>ID</strong> attribute to be able to specifically target an element. <strong>IDs</strong> must be
        unique. You will get inconsistent results if there are multiple elements with the same <strong>ID</strong>.
    </p>
    <div class="two-col">
        <div class="fragment">
            <ul>
                <li><strong>Rules</strong></li>
                <li>Must be unique</li>
                <li>Cannot contain spaces</li>
                <li>Casing matters when being target by CSS or JS</li>
            </ul>

        </div>
        <div class="fragment">
            <pre>
<code class="xml">
    &lt;div id="site-header"&gt;
        &lt;h1 id="myTitle"&gt;My Title&lt;/h1&gt;
    &lt;/div&gt;
</code>
</pre>
        </div>

    </div>
</section>