<section>
    <h1>Core HTML Tags</h1>
</section>
<section>
    <h1>Doctype</h1>
    <p>
        The Doctype tag tells the web browser what version of HTML is contained in your page.
    </p>
    <pre>
                    <code class="xml">
&lt;!doctype html&gt;
                        </code>
                    </pre>
</section>
<section>
    <h1>HTML Tag</h1>
    <p>
        Your HTML tag immediately follows the Doctype tag. Every page must have one and all content goes in between the tags.
    </p>
    <pre>
                    <code class="xml">
&lt;!doctype html&gt;
&lt;html&gt;
&lt;/html&gt;
                        </code>
                    </pre>
</section>
<section>
    <h1>Head and Body Tags</h1>
    <p>
        The <strong>Head</strong> tag contains information used by the browser or search information
    </p>
    <p>
        The <strong>Body</strong> tag contains everything visible to the user
    </p>
</section>
<section>
    <pre><code class="xml">
&lt;!doctype html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Page Title&lt;/title&gt;
    &lt;/head
    &lt;body&gt;
        Page Content
    &lt;/body&gt;
&lt;/html&gt;
                            </code></pre>
</section>
<section>
    <h1>Code It</h1>
</section>

</section>