<section id="form">
    <h1>The Form Tag</h1>
    <h2 class="fragment">
        <pre><code class="xml">&lt;form&gt; Content &lt;/form&gt;</code></pre>
    </h2>

    <h3 class="fragment">Accepted Attributes</h3>
    <ul>
        <li class="fragment"><code>action</code> - Represents the url where we are sending the data.</li>
        <li class="fragment">
            <code>method</code> - specifies the HTTP method used
            <ul>
                <li class="fragment"><code>get</code></li>
                <li class="fragment"><code>post</code></li>
            </ul>
        </li>
        <li class="fragment"><code>name</code></li>
   </ul>
</section>

<section>
    <h1>The Form Tag</h1>
<ul>
        <li class="fragment">
            <code>autocomplete</code>
            <ul>
                <li class="fragment">on</li>
                <li class="fragment">off</li>
            </ul>
        </li>
        <li class="fragment">
            <code>novalidate</code>
        </li>
 
</ul>
</section>
<section>
    <pre>
<code class="xml">
<form action="test.html" method="post">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" placeholder="First Name" />

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name" />

    <button type="submit">Submit</button>
</form>
</code>
</pre>
</section>

