<section id="labels">
    <h1>Labels</h1>
    <p>Labels are used to make inputs more accessible. </p>
    <h3 class="fragment">&lt;label>Content&lt;/label></h3>
    <h3>Attributes</h3>
    <ul>
        <li class="fragment"><code>for</code> - the ID of the corresponding input
        </li>
    </ul>
</section>
<section>
    <h1>Usage</h1>
    <pre><code class="xml">
            <label for="itemId">Input</label>
            <input type="text" id="itemId" />
      </code></pre>
</section>
<section>
    <p data-height="265" data-theme-id="0" data-slug-hash="GvLRdJ" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-Froms1" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/GvLRdJ/">UA-ITR-Froms1</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section id="buttons">
    <h1>The Button Element</h1>
    <p>
        The button element is a clickable element inside of your HTML. The button element can contain content of multiple types inside
        it.
    </p>
    <h3>Attributes</h3>
    <ul>
        <li class="fragment"><code>type</code> - defines default behavior of the button.
            <ul>
                <li class="fragment"><code>button</code></li>
                <li class="fragment"><code>reset</code> - Clears inputs when in a form</li>
                <li class="fragment"><code>submit</code> - Triggers a form submission</li>
            </ul>
        </li>
        <li class="fragment"><code>Name</code></li>
        <li class="fragment"><code>Value</code></li>
    </ul>
    <aside class="notes">
        Mention the button input. Type is required.
    </aside>

</section>
<section>
    <p data-height="265" data-theme-id="0" data-slug-hash="oeONyO" data-default-tab="html,result" data-user="WorthyD" data-embed-version="2"
        data-pen-title="UA-ITR-Froms2" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/oeONyO/">UA-ITR-Froms2</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>