<section>
    <!-- INtro SLide-->
    <h1>Intro into HTML</h1>
</section>
<section>
    <h2>HTML</h2>
    <ul>
        <li class="fragment"><strong>H</strong>yper<strong>T</strong>ext <strong>M</strong>arkup <strong>L</strong>anguage</li>
        <li class="fragment">Last major "revision" HTML5 in 2014</li>
        <li class="fragment">Standardized by the World Wide Web Consortium (W3C) - <a href="https://www.w3.org/">https://www.w3.org/</a></li>
    </ul>
</section>
</section>
<section>
    <section>
        <h2>What does HTML look like?</h2>
        <pre><code class="xml">
&lt;!DOCTYPE html&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
    &lt;title&gt;Page Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    This is sample text....
&lt;/body&gt;
&lt;/html&gt;&gt;
</code>
                    </pre>
    </section>
    <section>
        <h2>How does this look in the browser?</h2>
        <div>
            <iframe width="100%" height="300" src="//jsfiddle.net/WorthyD/nsqeyLhz/embedded/result,html/" allowfullscreen="allowfullscreen"
                frameborder="0"></iframe>
        </div>
    </section>
    <section>
        <h2>Terminology</h2>
        <ul>
            <li class="fragment">
                <strong>Element</strong>
                <ul>
                    <li>A component of HTML</li>
                    <li>Paragraph, list, table, div, img</li>
                </ul>
            </li>

            <li class="fragment">
                <strong>Tag</strong>
                <ul>
                    <li>Shows the beginning and end of a tag</li>
                    <li>Contains information about the tag's purpose</li>
                </ul>
            </li>
        </ul>
        <aside class="notes">
            An element is composed of tags and it's contents
        </aside>
    </section>
    <section>
        <h2>Containing Element</h2>
        <div style="font-size:1.3em">
            <span class="fragment">&lt;</span><span class="fragment">p</span><span class="fragment">&gt;</span>
            <span class="fragment">Content</span><span class="fragment">&lt;</span><span class="fragment">/p</span>
            <span class="fragment">&gt;</span>
        </div>
        <h2>Self Contained Element</h2>
        <div style="font-size:1.3em">
            <span class="fragment">&lt;</span><span class="fragment">br</span><span class="fragment">/</span>
            <span class="fragment">&gt;</span>
        </div>
        <aside class="notes">
            casing does matter
        </aside>
    </section>