<section>
    <!-- INtro SLide-->
    <h1>Intro into HTML</h1>
</section>
<section>
    <h2>HTML</h2>
    <ul>
        <li class="fragment"><strong>H</strong>yper<strong>T</strong>ext <strong>M</strong>arkup <strong>L</strong>anguage</li>
        <li class="fragment">Last major "revision" HTML5 in 2014</li>
        <li class="fragment">Standardized by the World Wide Web Consortium (W3C) - <a href="https://www.w3.org/">https://www.w3.org/</a></li>
    </ul>
</section>
<section>
    <h2>What does HTML look like?</h2>
    <p data-height="265" data-theme-id="0" data-slug-hash="KqjqgB" data-default-tab="html" data-user="WorthyD" data-embed-version="2"
        data-pen-title="KqjqgB" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/KqjqgB/">KqjqgB</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
        on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</section>
<section>
    <h2>How does this look in the browser?</h2>
    <div>
        <p data-height="265" data-theme-id="0" data-slug-hash="KqjqgB" data-default-tab="result" data-user="WorthyD" data-embed-version="2"
            data-pen-title="KqjqgB" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/KqjqgB/">KqjqgB</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>)
            on <a href="https://codepen.io">CodePen</a>.</p>
        <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>
</section>
<section>
    <h2>Terminology</h2>
    <ul>
        <li class="fragment">
            <strong>Element</strong>
            <ul>
                <li>A component of HTML</li>
                <li>Paragraph, list, table, div, img</li>
            </ul>
        </li>

        <li class="fragment">
            <strong>Tag</strong>
            <ul>
                <li>Shows the beginning and end of a tag</li>
                <li>Contains information about the tag's purpose</li>
            </ul>
        </li>
    </ul>
    <aside class="notes">
        An element is composed of tags and it's contents
    </aside>
</section>
<section>
    <h2>Containing Element</h2>
    <div style="font-size:1.3em">
        <span class="fragment"><</span><span class="fragment">p</span><span class="fragment">></span>
        <span class="fragment">Content</span><span class="fragment"><</span><span class="fragment">/p</span>
        <span class="fragment">></span>
    </div>
    <h2>Self Contained Element</h2>
    <div style="font-size:1.3em">
        <span class="fragment"><</span><span class="fragment">br</span><span class="fragment">/</span>
        <span class="fragment">></span>
    </div>
    <aside class="notes">
        casing does matter
    </aside>
</section>