<section>
    <h1>Lists</h1>
    <p>
        There are two types of list. <strong>Ordered List</strong> and <strong>Unordered lists</strong>. They both contain
        <strong>list item</strong> tags.
    </p>
</section>
<section>
    <h1>Unordered List</h1>
    <p>
        Commonly just a bulleted list.
    </p>
    <div class="two-col">
        <div>
            <pre><code class="xml">
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3
        <ul>
            <li>Nested 1</li>
            <li>Nested 1</li>
        </ul>
    </li>
    <li>Item 4</li>
</ul>
                           </code></pre>
        </div>
        <div>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>
                    Item 3
                    <ul>
                        <li>Nested 1</li>
                        <li>Nested 1</li>
                    </ul>
                </li>
                <li>Item 4</li>
            </ul>
        </div>
    </div>
</section>
<section>
    <h1>Ordered List</h1>
    <p>
        Similar to the unordered list, but uses numbers instead of bullets
    </p>
    <div class="two-col">
        <div>
            <pre><code class="xml">
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3
            <ol>
                <li>Nested 1</li>
                <li>Nested 1</li>
            </ol>
        </li>
        <li>Item 4</li>
    </ol>
                           </code></pre>
        </div>
        <div>
            <ol>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>
                    Item 3
                    <ol>
                        <li>Nested 1</li>
                        <li>Nested 1</li>
                    </ol>
                </li>
                <li>Item 4</li>
            </ol>
        </div>
    </div>
</section>