<section>
    <h1>Tables</h1>
    <p>
        Tables are use to display tabular data in a grid formation. Tables are frequently misused.
    </p>

    <ul>
        <li class="fragment">Base Tag:<span class="highlight">&lt;table/&gt;</span> </li>
        <li class="fragment">Row Tag:<span class="highlight">&lt;tr&gt;</span> </li>
        <li class="fragment">Column Tag:<span class="highlight">&lt;td&gt;</span> </li>
    </ul>
</section>
<section>
    <h1>What the HTML looks like</h1>
    <div>
        <pre>
<code class="xml">                        &lt;table&gt;
                            &lt;tr&gt;
                                &lt;td&gt;Column 1&lt;/td&gt;
                                &lt;td&gt;Column 2&lt;/td&gt;
                                &lt;td&gt;Column 3&lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                                &lt;td&gt;Row 2&lt;/td&gt;
                                &lt;td&gt;Column 2&lt;/td&gt;
                                &lt;td&gt;Column 3&lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                                &lt;td&gt;Row 3&lt;/td&gt;
                                &lt;td&gt;Column 2&lt;/td&gt;
                                &lt;td&gt;Column 3&lt;/td&gt;
                            &lt;/tr&gt;
                        &lt;/table&gt;
</code>
</pre>

    </div>
</section>