<section>
    <h1>Tables</h1>
    <p>
        Tables are use to display tabular data in a grid formation. Tables are frequently misused.
    </p>

    <ul>
        <li class="fragment">Base Tag:<span class="highlight">&lt;table/&gt;</span> </li>
        <li class="fragment">Row Tag:<span class="highlight">&lt;tr&gt;</span> </li>
        <li class="fragment">Column Tag:<span class="highlight">&lt;td&gt;</span> </li>
    </ul>
</section>
<section>
    <h1>What the HTML looks like</h1>
    <div>
<p data-height="265" data-theme-id="0" data-slug-hash="QgXMWP" data-default-tab="html" data-user="WorthyD" data-embed-version="2" data-pen-title="UA-HTML-Tables" class="codepen">See the Pen <a href="https://codepen.io/WorthyD/pen/QgXMWP/">UA-HTML-Tables</a> by Daniel Worthy (<a href="https://codepen.io/WorthyD">@WorthyD</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>    </div>
</section>