<section id="rotators">
    <h1>Website Rotators</h1>
    <p>
        Rotators provide interactive slide shows to users. They are frequently used to highlight important callouts or for featuring specific items.
    </p>
</section>
<section>
    <h1>Common things to feature</h1>
    <ul>
        <li class="fragment">Important parts of your site</li>
        <li class="fragment">Recent Events</li>
        <li class="fragment">Featured products</li>
        <li class="fragment">Work overview</li>
        <li class="fragment">Product List</li>
    </ul>
</section>
<section>
    <h1>Things to consider</h1>
    <ul>
        <li class="fragment">Mobile Friendly</li>
        <li class="fragment">Slide Count</li>
        <li class="fragment">Image Sizes</li>
        <li class="fragment">Customization</li>
    </ul>
</section>
<section>
    <h1>Coding a basic rotator from scratch is not that hard.</h1>
    <h2>It is a good exercise to learn new JavaScript features.</h2>
    <a href="https://www.youtube.com/watch?v=aYzUOzaDjQE" target="_blank">Video on how to write one</a>
</section>