<section>
    <h1>Modules</h1>
    <p>
        Modules have been built into JavaScript libraries for some time, but they are now available native in the language.
    </p>
    <p>
        Module are single instances of code designed to be reused throughout an application.
    </p>

</section>
<section>
    <h1>Module Exporting</h1>
    <pre><code class="js">
        // /lib/file.js
        export function test(x,u){
            return x * u;
        }
        export var pi = 3.14

        </code></pre>
</section>