<section>
    <h1>Let's start building that app.</h1>
    <h2>Open your terminal</h2>
</section>
<section>
    <h2>CD into a non-git directory to start your work.</h2>
</section>
<section>
    <h1>Create your app</h1>
    <h2>
        <code>ng new [name] --routing --style=scss --dry-run</code>
    </h2>
    <h3>Replace [name] with what you want to name your app.</h3>
    <ul>
        <li class="fragment">Examples:</li>
        <li class="fragment">
            <code>ng new taco-truck --routing --style=scss --dry-run</code>
        </li>
        <li class="fragment">
            <code>ng new blockbuster-reopening --routing --style=scss --dry-run</code>
        </li>
    </ul>
</section>
<section>
    <h1>Verify your app is properly scaffolded in the dry run.</h1>
    <ul>
        <li>Do you see <code>/src/app.component.scss</code></li>
        <li>Do you see <code>/src/app-routing-module.ts</code></li>
    </ul>
</section>
<section>
    <h1>Run the code without the <code>--dry-run</code></h1>
    <h2>You can press up on your arrow pad and just delete it.</h2>
</section>
<section>
    <h2>Lets talk about something else while that runs</h2>
</section>