<section>
    <h1>Generating Your First Component</h1>
    <!--
        Generate Component
        Create a code behind
        Create an interface
        Loop through some items
    -->
</section>
<section>
    <h1>Steps</h1>
    <ul>
        <li class="fragment">Open a terminal window</li>
        <li class="fragment">CD into your project directory</li>
        <li class="fragment"><code>ng generate component taco-menu</code></li>
        <li class="fragment">or</li>
        <li class="fragment"><code>ng g c taco-menu</code></li>
    </ul>
</section>
<section>
    <!-- Insert component --> 
</section>
<section>
    <!-- Gen interface --> 
</section>
<section>
    <!-- import interface --> 
</section>
<section>
    <!-- build list of items --> 
</section>
<section>
    <!-- Display Items via loop --> 
</section>