<section>
    <h2>We can move some logic into a new file.  In Angular, these are called services.</h2>
    <h3>Services encourage reusable code.</h3>
</section>
<section>
    <h2>Let's make a service to retrieve our menu items</h2>
    <p>
        <code>ng g s shared/services/menu-items</code>
    </p>
</section>
<section>
    <h2>Code out your service.</h2>
    <pre><code class="ts">
    public getMenuItems(): Array<MenuItem> {
        return [{
            name: 'Taco',
            description: 'Just a taco',
            category: 'Tacos',
            price: 1.5,
            isFeatured: false
        },
        //More Items
        ];
    }

    </code></pre>
</section>

<section>
    

</section>



<!--
    create service
    Create routing
-->