<section>
    <h2>We can move some logic into a new file.  In Angular, these are called services.</h2>
    <h3>Services encourage reusable code.</h3>
</section>
<section>
    <h2>Let's make a service to retrieve our menu items</h2>
    <p>
        <code>ng g s shared/services/menu-items</code>
    </p>
</section>
<section>
    <h2>Code out your service.</h2>
    <p>
        We're going to need to include some extra imports to get this working properly.
    </p>
</section>
<section>
    <h2>Including Angular HTTP</h2>
    <ul>
        <li class="fragment">Include HTTP inside the main module</li>
        <li class="fragment">Import Http, Response, and toPromise</li>
        <li class="fragment">Inject it to the constructor</li>
    </ul>
</section>
<section>
    <h2>Building out an async request.</h2>
    <p>We've done this before in jQuery before, but Angular will handle it differently.</p>
</section>
<section>
    <h2>Routing</h2>
    <p>
        Routing allows us to navigate between pages easily.  
    </p>
</section>
<section>
    <h2>Writing out your routes.</h2>
    <p>
        These are done inside the app-routing.module.ts
    </p>
    <pre><code class="ts">
const routes: Routes = [
    { path: '', redirectTo: '/menu', pathMatch: 'full' },
    { path: 'menu', component: TacoMenuComponent },
    { path: 'detail/:id', component: MenuDetailComponent }
];
    </code></pre>
</section>
<section>
    <h2>Linking in html</h2>
    <pre><code class="xml">
    <a routerLink="/">Home</a>
    </code></pre>
</section>
<section>
    <h2>Linking in JS</h2>
    <pre><code class="ts">
constructor(private menuService: MenuItemsService, private router: Router) { }
   </code></pre>
    <pre><code class="ts">
    const link = ['/detail', menuItem.id];
    this.router.navigate(link);
    </code></pre>
</section>
<section>
    <h1>Leveraging Route Parameters</h1>
    <p>
        We can use route parameters to create unique looking pages.  Remember seeing the route for 
    </p>
    <pre><code class="ts">
        { path: 'detail/:id', component: MenuDetailComponent }
    </code></pre>
    <p>
        The <code>:id</code> represents a dynamic routing parameter.
    </p>
</section>
<section>
    <h1>Retrieving a routing parameter</h1>
    <pre><code class="xml">
ngOnInit() {
    this.route.params.forEach((params: Params) => {
        if (params['id'] !== undefined) {
            const id = +params['id'];
        }
    });
}
    </code></pre>
</section>