<section>
    <h1>Form Inputs in Angular</h1>
    <p>
       Angular provides a robust set of features for forms. 
    </p>
</section>
<section>
    <h1>Add the Angular Form Module</h1>
    <p>
        Much like the Http module, we need to inject the Angular form module into the application.
    </p>
</section>
<section>
   <!-- Write Sort -->
</section>
<section>
    <!-- Adding form module -->
</section>
<section>
    <!-- Adding search filed -->
</section>
<section>
    <!--  write search logic -->
</section>